$primary: #03C988;
$secondory: #1C82AD;
$background: #00337C;
$background-dark: #13005A;

$light-primary: #00FFCA;
$light-secondory: #05BFDB;
$light-disabled: #088395;
$light-background: #0A4D68;

$text-color: #f46036;
$app-blue: #03a9f4;
$app-white: #f1f2eb;


@import url(~fullpage.js/dist/fullpage.min.css);
